.idea
build-tools
c4c-integration
hybris
hybris123
hybris-ems
hybris-Mobile-Apps-SDK
hybris-sbg
idea-module-files
installer
licenses
extensions/*/.externalToolBuilders
extensions/*/.settings
extensions/*/.classpath
extensions/*/.project
extensions/*/.springBeans
extensions/*/build.xml
extensions/*/classes
extensions/*/extensioninfo.xsd
extensions/*/platformhome.properties
extensions/*/lib/
extensions/*/gensrc
extensions/*/resources/beans.xsd 
extensions/*/resources/items.xsd
extensions/*/resources/*/*testclasses.xml
extensions/*/web/webroot/WEB-INF/lib
extensions/myext/src/org/training/jalo/*
config/hybris4intellij.properties
ImageMagick-7.0.10-Q16-HDRI
